h1{
    font-size: 16px;
}

.bar{           
    width:170px;
    background-color: #ccc;
    border: 1px solid #ccc;
    height: 17px;
    margin-left: 15px;
}

.progress{
    background-image: url("images/survey_bar.png");
    background-repeat: repeat-x;
    padding: 5px;
    text-align: right;
    height: 17px;
}

.label{
    margin-bottom: 15px;
    margin-left: 15px;
}