<<<<<<< HEAD
.espacamento {
	padding-left: 30%;
	padding-right: 30%;
	border-bottom: 1px solid black;
	font-size: 140%;

}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-image: url("clean-white-polygon-backgrounds-8.jpg");
=======
.espacamento {
	padding-left: 30%;
	padding-right: 30%;
	border-bottom: 1px solid black;
	font-size: 140%;
	align-items: center;

}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-image: url("clean-white-polygon-backgrounds-8.jpg");
>>>>>>> 00d53cbb218da94f066e4f6a27ff50e6a9c3b346
}