<!DOCTYPE html>

<html>
<meta charset = "utf-8"> <!-- Para aceitar acentuos -->
<title>Insper Clicker-Moderador</title><!-- Título que vai aparecer na aba -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey"><!-- Cor do Background -->

<!-- Top container -->
<div class="w3-container w3-top w3-red w3-large w3-padding" style="z-index:4"><!-- Barra vermelha no topo da página -->
  <button class="w3-btn w3-hide-large w3-padding-0 w3-hover-text-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-right">INSPER CLICKER</span><!-- No topo direito da Página -->
</div>

<!-- Sidenav/menu -->
<nav class="w3-sidenav w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidenav"><br> <!-- Barra esquerda -->
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="insper.png" class="w3-Square w3-margin-right" style="width:50px"><!-- Foto em cima da barra esquerda -->
    </div>
    <div class="w3-col s9"><!-- Ao trocar o valor de "s" o Welcome, Moderator! muda de posição -->
      <span>Bem Vindo, <strong>Professor!</strong></span><br>
    <!-- Items embaixodo Welcome,Moderator!-->
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Moderator Operations</h5>
  </div>
  <a href= "http://127.0.0.1:5000/moderador" class="w3-hover-blue"><i class="fa fa-question-circle-o fa-fw"></i> Create Questions</a>
  <a href="#" class="w3-padding"><i class="fa fa-users fa-fw"></i>  Users</a>
  <a href="http://127.0.0.1:5000/usuario" class="w3-padding"><i class="fa fa-bullseye fa-fw"></i>  Answers</a>
  <a href="http://127.0.0.1:5000/estatistica" class="w3-padding"><i class="fa fa-line-chart fa-fw"></i>  Statistics</a>
  <!-- Items embaixodo Moderator Operations-->
</nav>


<!-- Overlay effect when opening sidenav on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-question-circle-o"></i> CRIAR PERGUNTAS</b></h5>
  </header>
  <body>

<form method="post">
 <p> Pergunta:<br><p>
  <textarea name="pergunta" rows="4" cols="70"></textarea> 
  <br>
  


  <p>resposta 1<br></p>

  <input name="resposta1" type="text"></input>
  <br>

  <p>resposta 2<br></p>

  <input name="resposta2" type="text"></input>
  <br>

  <p>resposta 3<br></p>

  <input name="resposta3" type="text"></input>
  <br>

  <p>resposta 4<br></p>

  <input name="resposta4" type="text"></input>
  <br>

  <p>resposta 5<br></p>

  <input name="resposta5" type="text"></input>
  <br>

  <p>resposta correta<br></p>

  <input name="respostacorreta" type="text"></input>
  <br>






 <p> <form >
 <input type="submit" value="Submit" />

    <!--input type="Submit" value="Submit" /-->

</form>
 


<p>"Submit your form!"</p>

</body>
  <div class="w3-container w3-dark-grey w3-padding-32">
    <div class="w3-row">
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-green">Designed by</h5>
        <p>Felipe Frid Buniac</p>
        <p>Lucas Astur</p>
        <p>João Pedro Pieroni</p>
      </div>
    </div>
  </div>


  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
    <h4></h4>
    <p>Powered by <a href="http://www.insper.edu.br/vestibular/engenharia-de-computacao/" target="_blank">Insper Computer Engineering</a></p>
  </footer>

  <!-- End page content -->
</div>

<script>
// Get the Sidenav
var mySidenav = document.getElementById("mySidenav");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidenav, and add overlay effect
function w3_open() {
    if (mySidenav.style.display === 'block') {
        mySidenav.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidenav.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidenav with the close button
function w3_close() {
    mySidenav.style.display = "none";
    overlayBg.style.display = "none";
}
</script>

</body>
</html>
