<HTML>
   <HEAD>
   		<title>Clicker!</title>
   		<meta charset="utf-8">
   		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		<link href="{{ url_for('static',filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
		<link href="{{ url_for('static',filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ url_for('static',filename='css/usuario.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ url_for('static',filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   </HEAD>
       <script language="javascript" type="text/javascript">
            function validateForm() {
                var x = document.forms["myForm"]["resposta1"].value;
                var y = document.forms["myForm"]["resposta2"].value;
                var z = document.forms["myForm"]["resposta3"].value;
                var a = document.forms["myForm"]["resposta4"].value;
                var b = document.forms["myForm"]["resposta5"].value;
                var w = document.forms["myForm"]["pergunta"].value;
                var h = document.forms["myForm"]["respostacorreta"].value;
                if (x == "" || y == "" || z == "" || a == "" || b == "") {
                    alert("Esqueceu uma resposta");
                    return false;
                }
                else if(h == ""){
                  alert("Esqueceu a resposta correta");
                  return false;
                  
                }
                else if (w==""){
                  alert("Esqueceu a pergunta");
                  return false;
                }
            }
           
       </script>
   

   <BODY>
   	<header>
      <nav class="red darken-4" role="navigation">
        <div class="nav-wrapper container">
          <a href="http://127.0.0.1:5000/" class="brand-logo">Insper Clicker</a>
        </div>
      </nav>
	  </header>

    <div class="espacamento">
      <form method="post" name="myForm" onsubmit="return validateForm()">
       <p> Pergunta:<br><p>
        <textarea name="pergunta" rows="4" cols="70"></textarea> 
        <br>
        


        <p>resposta 1<br></p>

        <input name="resposta1" type="text"></input>
        <br>

        <p>resposta 2<br></p>

        <input name="resposta2" type="text"></input>
        <br>

        <p>resposta 3<br></p>

        <input name="resposta3" type="text"></input>
        <br>

        <p>resposta 4<br></p>

        <input name="resposta4" type="text"></input>
        <br>

        <p>resposta 5<br></p>

        <input name="resposta5" type="text"></input>
        <br>

        <p>resposta correta<br></p>

        <input name="respostacorreta" type="text"></input>
        <br>






       <p> <form >
       <input type="submit" value="Submit" />

          <!--input type="Submit" value="Submit" /-->

      </form>
    </div>


    <footer class="page-footer red">
      <div class="footer-copyright">
        <div class="container">
          Feito por Astur, João e Buniac
        </div>
      </div>
    </footer>
   </BODY>
</HTML>
Contact GitHub 