<HTML>
   <HEAD>
   		<title>Clicker!</title>
   		<meta charset="utf-8">
   		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		<link href="{{ url_for('static',filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
		<link href="{{ url_for('static',filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ url_for('static',filename='css/usuario.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ url_for('static',filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   </HEAD>
   

   <BODY>
   	<header>
      <nav class="red darken-4" role="navigation">
        <div class="nav-wrapper container">
          <a href="http://127.0.0.1:5000/" class="brand-logo">Insper Clicker</a>
        </div>
      </nav>
	  </header>

    <div class ="espacamento">
    
    <h2>Resposta adquirida</h2>

    <footer class="page-footer red">
      <div class="footer-copyright">
        <div class="container">
          Feito por Astur, João e Buniac - Design-base providenciado por <a class="red-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
      </div>
    </footer>
   </BODY>
</HTML>